.usersContainer {
  padding: 20px;
  margin-left: 250px; /* A largura do menu lateral */
}

.form {
  margin-bottom: 20px;
}

.form input {
  margin-right: 10px;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.userList {
  list-style-type: none;
  padding: 0;
}

.userItem {
  margin: 10px 0;
}

.userButton {
  margin-left: 10px;
  padding: 5px 10px;
  border: none;
  background-color: #007bff;
  color: white;
  border-radius: 4px;
  cursor: pointer;
}

.userButton:hover {
  background-color: #0056b3;
}
